@{
    ViewData["Title"] = "Home Page";
}

<!-- START PORTOLIO SECTION -->
<div class="portfolio-section">
    <div class="container">
        <div class="row">

            <!-- START PORTFOLIO HEADING -->
            <div class="col-12">
                <div class="portfolioHeading text-center">
                    <h1 class="high-lighted-heading">Our Luxurious Product</h1>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me.</p>
                </div>
            </div>
            <!-- END PORTFOLIO HEADING -->
            <!-- START FILTERS -->
            <div class="col-12">
                <div class="clearfix d-flex justify-content-center">
                    <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item cbp-l-filters-list-first">All </div>
                        <div data-filter=".CausalShirts" class="cbp-filter-item">Causal Shirts </div>
                        <div data-filter=".formalShirts" class="cbp-filter-item">Formal Shirts </div>
                        <div data-filter=".others" class="cbp-filter-item cbp-l-filters-list-last">Others </div>
                    </div>
                </div>
            </div>
            <!-- END FILTERS -->
            <!-- START PORTFOLIO IMAGES -->
            <div class="col-12">
                <div id="js-grid-blog-posts" class="cbp">

                    <div class="cbp-item CausalShirts others wow slideInUp">
                        <a class="portfolio-circle-cart" href="shop/shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="shop/img/product-listing/p24.jpg" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="shop/img/product-listing/p24.jpg" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p25.jpg" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="shop/img/product-listing/p25.jpg" alt=""></a></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="shop/product-detail.html" target="_blank" class="cbp-l-grid-blog-title portfolio-title">Light Wear </a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item formalShirts CausalShirts wow slideInUp">
                        <a class="portfolio-circle-cart" href="shop/shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="shop/img/product-listing/p26.jpg" class="cbp-caption" data-fancybox="gallery2" data-title="Shirt Name"> <img src="shop/img/product-listing/p26.jpg" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p27.jpg" class="cbp-caption" data-fancybox="gallery2" data-title="Shirt Name"><img src="shop/img/product-listing/p27.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="shop/product-detail.html" target="_blank" class="cbp-l-grid-blog-title portfolio-title">Light Wear </a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item CausalShirts others wow slideInUp">
                        <a class="portfolio-circle-cart" href="shop/shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="shop/img/product-listing/p30.jpg" class="cbp-caption" data-fancybox="gallery3" data-title="Shirt Name"> <img src="shop/img/product-listing/p30.jpg" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p31.jpg" class="cbp-caption" data-fancybox="gallery3" data-title="Shirt Name"><img src="shop/img/product-listing/p31.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="shop/product-detail.html" target="_blank" class="cbp-l-grid-blog-title portfolio-title">Light Wear </a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item formalShirts CausalShirts wow slideInUp">

                        <a class="portfolio-circle-cart" href="shop/shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="shop/img/product-listing/p28.jpg" class="cbp-caption" data-fancybox="gallery4" data-title="Shirt Name"> <img src="shop/img/product-listing/p28.jpg" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p29.jpg" class="cbp-caption" data-fancybox="gallery4" data-title="Shirt Name"><img src="shop/img/product-listing/p29.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="shop/product-detail.html" target="_blank" class="cbp-l-grid-blog-title portfolio-title">Long Frock</a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>
                    </div>

                    <div class="cbp-item motion CausalShirts wow slideInUp">
                        <a class="portfolio-circle-cart" href="shop/shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="shop/img/product-listing/p34.jpg" class="cbp-caption" data-fancybox="gallery5" data-title="Shirt Name"> <img src="shop/img/product-listing/p34.jpg" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p35.jpg" class="cbp-caption" data-fancybox="gallery5" data-title="Shirt Name"><img src="shop/img/product-listing/p35.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="shop/product-detail.html" target="_blank" class="cbp-l-grid-blog-title portfolio-title">Casual Wear </a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>

                    </div>

                    <div class="cbp-item formalShirts CausalShirts wow slideInUp">
                        <a class="portfolio-circle-cart" href="shop/shop-cart.html">
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                            <div class="item"> <a href="shop/img/product-listing/p32.jpg" class="cbp-caption" data-fancybox="gallery6" data-title="Shirt Name"> <img src="shop/img/product-listing/p32.jpg" alt=""></a></div>
                            <div class="item"> <a href="shop/img/product-listing/p33.jpg" class="cbp-caption" data-fancybox="gallery6" data-title="Shirt Name"><img src="shop/img/product-listing/p33.jpg" alt=""></a></div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="shop/product-detail.html" target="_blank" class="cbp-l-grid-blog-title portfolio-title">Casual Wear </a>
                            </div>
                            <div class="col-12 text-center">
                                <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- END PORTFOLIO IMAGES -->

        </div>
    </div>
</div>
<!-- END PORTOLIO SECTION -->
<!--START BANNER SECTION-->
<div class="banner-section parallax-slide">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-5 text-center">
                <div class="banner-content-wrapper">
                    <span>TRENDING PRODUCT OF THE WEEK</span>
                    <h1>Shirts Collections</h1>
                    <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me</p>
                    <button type="button" class="btn black-btn-with-border">SHOP NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END BANNER SECTION-->
<!--START LATEST ARRIVALS-->
<div class="lastest_arrivals">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>Latest Arrivals</h1>
            </div>

            <div class="col-12">
                <div class="lastest_featured_products owl-carousel owl-theme">

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l1.jpg" data-fancybox="lastest_product" data-title="Shirt Name">
                                    <img src="shop/img/l1.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l7.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l7.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Light Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l8.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l8.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Long Frock</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l9.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l9.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l10.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l10.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l11.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l11.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Light Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l12.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l12.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Light Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest_arrival_items item">
                        <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                        <div class="card">
                            <span class="product-type">NEW</span>
                            <div class="image-holder">
                                <a href="shop/img/l7.jpg" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
                                    <img src="shop/img/l13.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <h5 class="card-title">Casual Wear</h5>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="card-text text-center"> $999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--END LATEST ARRIVALS-->
